<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>

    <style>
        
        #calendar {
            width: 100%;
            height: 40%; 
            margin: 0 auto; 
        }
    </style>
</head>

<bodyy>
    <nav>
        {% if session.user_id %}
        <a href="/front">Guestbook</a> <a href="/calendar">Calendar</a> <a href="/show_photos">Photos</a> <a href="/logout">Sign out</a>
        <p>
            {% else %}
            <a href="/">Kirjaudu sisään</a>
            {% endif %}
    </nav>
    <div id="calendar"></div>
    <script>
        let calendarEl = document.getElementById("calendar");

        let calendar = new FullCalendar.Calendar(calendarEl, {
            events: [
                {% for event in events %}
                {
                    title: "{{ event.todo }}",
                    start: "{{ event.date}}",
                },
                {% endfor %}
            ]
        });

        calendar.render();
    </script>

    <div class="reservation-form">
        <form action="/reserve" method="post">
            <h3>Make a Reservation</h3>
            <div class="input-box">
                Visitor: <input type="text" name="todo" required>
                Date: <input type="date" name="date" required>
            </div>
            <button type="submit" class="login">Reserve</button>
        </form>
    </div>





<div class="wrapper_fix">
    <form action="/sendfix" method="post">
        
        Info: <br><br>
        <div class="input-box">
            <input type="text" name="content" placeholder="Is there something others should know?" required>
        </div>
        <br>
        <button type="submit" class="login">Send</button>
    </form>

    <hr>
    {% for fixmessage in fixmessages %}
    <i>Viesti:</i> {{ fixmessage[0] }}
    <p>
        <i>Lähettäjä:</i> {{ fixmessage[1] }}
        <p>
            <i>Aika:</i> {% if fixmessage[2] %} {{ fixmessage[2].strftime("%Y-%m-%d %H:%M:%S") }} {% endif %}
            <hr>
            {% endfor %}
            <p></p>
</div>
</body>
</html>
