<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
</head>
<nav>
    {% if session.user_id %}
    <a href="/front">Guestbook</a> <a href="/calendar">Calendar</a> <a href="/show_photos">Photos</a> <a href="/logout">Sign out</a> 
    <p>
    {% else %}
    <a href="/login">Kirjaudu sisään</a>
    {% endif %}
    </nav>

<body>
    <body>
        <form action="/send" method="post">
            <div class="input-box">
                <input type="text" name="content" placeholder="Tell us about your trip" required>
            </div>
            <button type="submit" class="login">Send</button>
            </form>
    </body>

</html><link rel="stylesheet" href="/static/style.css">
<div class="wrapper_review">
<h2>Guestbook</h2>


<hr>

{% for message in messages %}
<i>Viesti:</i> {{ message[0] }}
<p>
<i>Lähettäjä:</i> {{ message[1] }}
<p>
<i>Aika:</i> {% if message[2] %} {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }} {% endif %}
<hr>
{% endfor %}
</div>
</body>