<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
</head>

<nav>
    {% if session.user_id %}
    <a href="/review">Write in the questbook</a> <a href="/calendar">Calendar</a> <a href="/show_photos">Photos</a> <a href="/logout">Sign out</a> 
    <p>
    {% else %}
    <a href="/login">Kirjaudu sisään</a>
    {% endif %}
</nav>

<body>
    <form action="/send" method="post">
        Viesti: <br>
        <textarea name="content" rows="3" cols="40"></textarea>
        <br>
        <input type="submit" value="Lähetä">
        </form>
</body>
